src/main/mule/pipeline_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6a7e9249-71be-4035-ad21-08f8af2d01c2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pipeline_demoFlow" doc:id="8d10a242-655b-420e-ad12-4a7d42dc4e1d" >
		<http:listener doc:name="Listener" doc:id="815c21ce-8fdc-49cb-8736-20e2820c9d5a" config-ref="HTTP_Listener_config" path="pipeline_test"/>
		<logger level="INFO" doc:name="Logger" doc:id="6c263cb4-30a8-419e-a1ee-cf5c389c7886" />
		<set-payload value='#["pipeline test is a success"]' doc:name="Set Payload" doc:id="d94fffe3-415e-493f-90d6-748c57b9c3be" />
		<logger level="INFO" doc:name="Logger" doc:id="dd2f6aea-9476-4f34-a555-7269c0eda903" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="4dfe8b53-6961-4cc7-a1ba-d43b4cccd223" >
			<when expression='#[payload=="pipeline test is a success"]'>
				<logger level="INFO" doc:name="Logger" doc:id="8d854377-7ea4-4453-8c27-a20d393bbc1d" message="Success"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="57cc8790-9217-4627-a117-8300f15b308c" message="Failed 1"/>
				<logger level="INFO" doc:name="Logger" doc:id="a53debc3-27be-4abf-be55-becc8b300a72" message="Failed 2"/>
				<logger level="INFO" doc:name="Logger" doc:id="49a5db9f-580b-4569-9fa0-9009ae4223a3" message="Failed 3"/>
			</otherwise>
		</choice>
	</flow>
</mule>
